﻿@using SalesWebsite.Models
@using PagedList.Mvc
@model PagedList.PagedList<Product>
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Layout/DetailProductLayout.cshtml";
}

@using (Ajax.BeginForm("SearchResultPartial", "Search",
            new AjaxOptions
            {
                UpdateTargetId = "divSearchByAjax",
                InsertionMode = InsertionMode.Replace,

            }))
{
    <input type="text" name="key" placeholder="Input product that wanna find" />
    <input type="submit" value="Search" />
}

<div id="divSearchByAjax">


    <div class="col-md-9 product1">

        <div class=" bottom-product">
            @foreach (var product in Model.OrderBy(trieudd => trieudd.price))
            {
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="single.html">
                            <img class="img-responsive" src="@Url.Content("~/Content/imagesProducts/" + product.image)" alt="" style="width:150px; height:150px">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">@product.name</p>
                    <a href="@Url.Action(
    "AddShoppingCart",
    "ShoppingCart",
    new { @id = product.id, @url = Request.Url.ToString() })" class="item_add">
                        <p class="number item_price"><i> </i>@product.price.Value.ToString("##,###") VNĐ</p>
                    </a>
                    @Ajax.ActionLink("Add to Cart", "AddShoppingCartAjax", "ShoppingCart",
                   new { @id = product.id, @url = Request.Url.ToString() },
                   new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divShoppingCart", InsertionMode = InsertionMode.Replace })
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>

    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0:Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("SearchResult", new { @key = ViewBag.Key, page = page }))
    </div>

</div>