﻿@model IEnumerable<SalesWebsite.Models.Product>

@{
    int count = 0;
    int pageNumber = 0;
    int pageSize = 6;
}


<div class="col-md-9 product1">

    <div class=" bottom-product">
        @*Mark page for each product*@
        @foreach (var product in Model.OrderBy(trieudd => trieudd.price))
        {
            if ((count != 0) && (count % pageSize == 0))
            {
                pageNumber++;
            }
            count++;
            <div class="@Url.Content("col-md-4 bottom-cd simpleCart_shelfItem page" +pageNumber)">
                <div class="product-at ">
                    <a href="single.html">
                        <img class="img-responsive" src="@Url.Content("~/Content/imagesProducts/" + product.image)" alt="" style="width:150px; height:150px">
                        <div class="pro-grid">
                            <span class="buy-in">Buy Now</span>
                        </div>
                    </a>
                </div>
                <p class="tun">@product.name</p>
                <a href="@Url.Action(
                    "AddShoppingCart",
                    "ShoppingCart",
                    new { @id = product.id, @url = Request.Url.ToString() })" class="item_add">
                    <p class="number item_price"><i> </i>@product.price.Value.ToString("##,###") VNĐ</p>
                </a>
                @Ajax.ActionLink("Add to Cart", "AddShoppingCartAjax", "ShoppingCart",
                new { @id = product.id, @url = Request.Url.ToString() },
                new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divShoppingCart", InsertionMode = InsertionMode.Replace })
            </div>
        }
        <div class="clearfix"> </div>
    </div>

    <div class="page">
        @for (int i = 0; i <= pageNumber; i++)
        {
            <a href="#" class="linkPage" data-pageNumber="@Url.Content("page"+i)">@(i+1)</a>
        }
    </div>

</div>

<style>
    .simpleCart_shelfItem {
        display: none;
    }

    .page0 {
        display: block;
    }
</style>

@*Step3: click page display next size of product*@
<script>
    $('.linkPage').click(function () {
        // hide all page
        $('.simpleCart_shelfItem').hide();
        // get current page number --- this equal current a tag
        var pageNumber = $(this).attr("data-pageNumber");

        $("." + pageNumber).show();
    });

</script>