﻿
<div id="divShoppingCart" class="cart box_1">
    <a href="@Url.Action("WatchShoppingCart", "ShoppingCart")">
        <h3>
            <div class="total">
                @ViewBag.SumOfAllBills.ToString("#,##") VNĐ
                (@ViewBag.SumOfAmount items)
            </div>
            <img src="~/Content/images/cart.png" alt="">
        </h3>
    </a>
    <p><a href="@Url.Action("WatchShoppingCart","ShoppingCart")" class="simpleCart_empty">See detail</a></p>

</div>