﻿@using SalesWebsite.Models
@model ShoppingCartItem


@{
    ViewBag.Title = "UpdateShoppingCart";
    Layout = "~/Views/Layout/DetailProductLayout.cshtml";
}


@{
    List<ShoppingCartItem> products = ViewBag.ShoppingCartItems;
}


<style>
    table, td, th {
        border: 1px solid;
        border-color: chocolate;
        border-collapse: collapse;
    }
</style>
<div class="col-md-9">
    <table width="100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Bill</th>
            <th colspan="2">ACTION</th>
        </tr>

        @foreach (var product in products)
        {
            // product(model) with id updated in products(viewbag)
            if (Model.ProductID == product.ProductID)
            {
                using (Html.BeginForm("UpdateShoppingCart", "ShoppingCart"))
                {
                    <tr>
                        <th>@product.ProductID @Html.Hidden("ProductID", product.ProductID) </th>
                        <th>@product.ProductName</th>
                        <th><img src="@Url.Content("~/Content/imagesProducts/"+product.Image)" height="150" width="150" /></th>

                        <th>
                            @Html.TextBox("Amount", product.Amount, new { @class = "classTxtAmount" })
                            <p id="txtAmountError"></p>
                        </th>

                        <th>@product.Price.ToString("#,##")</th>
                        <th>@product.Bill.ToString("#,##")</th>
                        <th>   <input type="submit" id="btnUpdate" value="Update now !!!" />  </th>
                        <th>@Html.ActionLink("delete this product from cart ...", "DeleteShoppingCart", new { @id = product.ProductID })</th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th>@product.ProductID</th>
                    <th>@product.ProductName</th>
                    <th><img src="@Url.Content("~/Content/imagesProducts/"+product.Image)" height="150" width="150" /></th>
                    <th>@product.Amount  </th>
                    <th>@product.Price.ToString("#,##")</th>
                    <th>@product.Bill.ToString("#,##")</th>
                    <th colspan="2">@Html.ActionLink("delete this product from cart ...", "DeleteShoppingCart", new { @id = product.ProductID })</th>
                </tr>
            }

        }

    </table>

</div>

<script>
    $('#btnUpdate').click(function () {
        var amount = $('.classTxtAmount').val();
        if (isNaN(amount) || amount <= 0) {
            $('#txtAmountError').text('Số lượng phải là số nguyên lớn hơn 0 đồng chí ơi 400 Bad request');
            return false;
        }
    });
</script>