﻿@using SalesWebsite.Models
@model IEnumerable<ShoppingCartItem>
@{
    ViewBag.Title = "WatchShoppingCart";
    Layout = "~/Views/Layout/DetailProductLayout.cshtml";
}

@if (Model.Count() == 0)
{
    <h1>
        Empty shopping cart ^^
    </h1>
    <a href="/Home/Index" class="btn btn-success">Shopping now</a>
    return;
}
<style>
    table, td, th {
        border: 1px solid;
        border-color: chocolate;
        border-collapse: collapse;
    }
</style>
<div class="col-md-9">
    <table width="100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Bill</th>
            <th colspan="2">ACTION</th>
        </tr>

        @foreach (var product in Model)
        {
            <tr>
                <th>@product.ProductID</th>
                <th>@product.ProductName</th>
                <th><img src="@Url.Content("~/Content/imagesProducts/"+product.Image)" height="150" width="150" /></th>
                <th>@product.Amount </th>
                <th>@product.Price.ToString("#,##")</th>
                <th>@product.Bill.ToString("#,##")</th>
                <th>@Html.ActionLink("update amount here ...", "UpdateShoppingCart", new { @id = product.ProductID })</th>
                <th>@Html.ActionLink("delete this product from cart ...", "DeleteShoppingCart", new { @id = product.ProductID })</th>
            </tr>
        }
    </table>



    @using (Html.BeginForm("Order", "ShoppingCart"))
    {
        if (Session["ssByTrieuDD"] == null)
        {
            <div id="divCustomerInfomation">
                <table align="center" class="table">
                    <tr>
                        <td align="center" colspan="2"><b>Customer Information !!!</b></td>
                    </tr>
                    <tr>
                        <td>Fullname:</td>
                        <td>
                            @Html.TextBox("name")
                            <p id="msgName" style="color:red"></p>
                        </td>

                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>
                            @Html.TextBox("address")
                            <p id="msgAddress" style="color:red"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            @Html.TextBox("email")
                            <p id="msgEmail" style="color:red"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>
                            @Html.TextBox("phone")
                            <p id="msgPhone" style="color:red"></p>
                        </td>
                    </tr>
                </table>
            </div>

        }



        <br />
        <br />


        <div class="divOrder" style="text-align:right">

            <input type="submit" value="Order" id="btnOrder" class="btn btn-danger" />
            <a class="btn btn-success" href="/Home/Index">Buy anymore</a>

            @if (Session["ssByTrieuDD"] == null)
            {
                <script>
                    $('#btnOrder').click(function () {
                        var isError = 0;
                        if ($('#name').val() == '') {
                            $('#msgName').text('Bạn không được bỏ trống tên mình');
                            isError++;
                        } else {
                            $('#msgName').text('');
                        }

                        if ($('#address').val() == '') {
                            $('#msgAddress').text('Bạn không được bỏ trống địa chỉ của mình');
                            isError++;
                        } else {
                            $('#msgAddress').text('');
                        }

                        if ($('#phone').val() == '') {
                            $('#msgPhone').text('Bạn không được bỏ trống số điện thoại của mình');
                            isError++;
                        } else {
                            $('#msgPhone').text('');
                        }



                        if ($('#email').val() == '') {
                            $('#msgEmail').text('Bạn không được bỏ trống email của mình');
                            isError++;
                        } else if (!/^[0-9A-Za-z]+[0-9A-Za-z]*@@[\w\d.]+\.\w{2,4}$/.test($('#email').val())) {
                            $('#msgEmail').text('Không đúng định dạng mail rồi bạn ơi, thì ra đây là một trò đùa !!!');
                            isError++;
                        } else {
                            $('#msgEmail').text('');
                        }


                        if (isError != 0) {
                            // prohibit submit to server
                            return false;
                        }
                    });
                </script>
            }

        </div>
    }
</div>

<style>
    input[type="submit"] {
        padding: 15px;
        margin: 0;
    }
</style>



