﻿@model IEnumerable<SalesWebsite.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 5);
}

@webGrid.GetHtml(
    tableStyle: "divTable",
    headerStyle: "divHeader",
    footerStyle: "divFooter",
    rowStyle: "divRow",
    alternatingRowStyle: "divAlternatingRow",
    columns: webGrid.Columns
    (
        webGrid.Column("id", "Mã sản phẩm"),
        webGrid.Column("name", "Tên sản phẩm"),
        webGrid.Column("description", "Miêu tả sản phẩm", format: trieudd => @Html.Raw(trieudd.description)),
        webGrid.Column("image", "Hình ảnh sản phẩm", format: trieudd => Html.Raw("<img src = \"../../Content/imagesProducts/" + trieudd.image + "\" >")),
        webGrid.Column(format: trieudd => Html.ActionLink("Update...", "UpdateProduct", new { @id = trieudd.id })),
        webGrid.Column(format: trieudd => Html.ActionLink("Delete...", "DeleteProduct", new { @id = trieudd.id }))
    )
)

<style>
    .divTable {
        width: 100%;
    }

    .divTable, th, td {
        border: 1px solid chocolate;
        border-collapse: collapse;
    }

    .divHeader {
        background-color: black;
    }

        .divHeader th a {
            color: white;
        }

    .divFooter {
        font-weight: bold;
    }

    .divAlternatingRow {
        background-color: blueviolet;
        color: white;
    }

    .divRow {
        background-color: antiquewhite;
        color: black;
    }
</style>

