﻿@using SalesWebsite.Models
@model Product
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Layout/DetailProductLayout.cshtml";
}

<div class="col-md-9 product-price1">
    <div class="col-md-5 single-top">
        <div class="flexslider">
            <ul class="slides">


                <li data-thumb="@Url.Content("~/Content/imagesProducts/"+Model.image)">
                    <img src="@Url.Content("~/Content/imagesProducts/"+Model.image)" />
                </li>

                <li data-thumb="@Url.Content("~/Content/imagesProducts/"+Model.image1)">
                    <img src="@Url.Content("~/Content/imagesProducts/"+Model.image1)" />
                </li>

                <li data-thumb="@Url.Content("~/Content/imagesProducts/"+Model.image2)">
                    <img src="@Url.Content("~/Content/imagesProducts/"+Model.image2)" />
                </li>

                <li data-thumb="@Url.Content("~/Content/imagesProducts/"+Model.image3)">
                    <img src="@Url.Content("~/Content/imagesProducts/"+Model.image3)" />
                </li>


            </ul>
        </div>
        <!-- FlexSlider -->
        <script defer src="~/Content/ProductLayout/js/jquery.flexslider.js"></script>
        <link rel="stylesheet" href="~/Content/ProductLayout/css/flexslider.css" type="text/css" media="screen" />

        <script>
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                });
            });
        </script>
    </div>

    <div class="col-md-7 single-top-in simpleCart_shelfItem">
        <div class="single-para ">
            <h4>@Model.name</h4>
            <div class="star-on">
                <ul class="star-footer">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                </ul>
                <div class="review">
                    <a href="#">Review: @Model.view </a>

                </div>
                <div class="clearfix"> </div>
            </div>

            <h5 class="item_price">@Model.price.Value.ToString("#,##") VNĐ</h5>
            <p>
                @Html.Raw(Model.configuration)
            </p>
            <div class="available">
                <ul>
                    <li>
                        Color
                        <select>
                            <option>Silver</option>
                            <option>Black</option>
                            <option>Dark Black</option>
                            <option>Red</option>
                        </select>
                    </li>
                    <li class="size-in">
                        Size<select>
                            <option>Large</option>
                            <option>Medium</option>
                            <option>small</option>
                            <option>Large</option>
                            <option>small</option>
                        </select>
                    </li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <ul class="tag-men">
                <li>
                    <span>TAG</span>
                    <span class="women1">: Women,</span>
                </li>
                <li>
                    <span>SKU</span>
                    <span class="women1">: CK09</span>
                </li>
            </ul>
            <a href="#" class="add-cart item_add">ADD TO CART</a>

        </div>
    </div>
    <div class="clearfix"> </div>
    <!---->
    <div>
        <h3>Description</h3>
        @Html.Raw(Model.description)
    </div>
</div>