﻿@using PagedList.Mvc;
@using SalesWebsite.Models
@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "ProductsByTypeAndProvider";
    Layout = "~/Views/Layout/DetailProductLayout.cshtml";
}

<div class="col-md-9 product1">

    <div class=" bottom-product">
        @foreach (var product in Model.OrderBy(trieudd => trieudd.price))
        {
            <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                <div class="product-at ">
                    <a href="single.html">
                        <img class="img-responsive" src="@Url.Content("~/Content/imagesProducts/" + product.image)" alt="" style="width:150px; height:150px">
                        <div class="pro-grid">
                            <span class="buy-in">Buy Now</span>
                        </div>
                    </a>
                </div>
                <p class="tun">@product.name</p>
                <a href="@Url.Action(
    "AddShoppingCart",
    "ShoppingCart",
    new { @id = product.id, @url = Request.Url.ToString() })" class="item_add">
                    <p class="number item_price"><i> </i>@product.price.Value.ToString("##,###") VNĐ</p>
                </a>
                @Ajax.ActionLink("Add to Cart", "AddShoppingCartAjax", "ShoppingCart",
               new { @id = product.id, @url = Request.Url.ToString() },
               new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divShoppingCart", InsertionMode = InsertionMode.Replace })
            </div>
        }
        <div class="clearfix"> </div>
    </div>
</div>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ProductsByTypeAndProvider",
    new { @typeId = ViewBag.TypeID, @producerId = ViewBag.ProducerID, @page = page }))
</div>
