﻿@using SalesWebsite.Models;
@model IEnumerable<Product>

<h1>Neweset @Model.First().ProductType.name</h1>
<div class="grid-in">
    @foreach (var product in Model.Take(3))
    {
        <div class="col-md-4 grid-top">
            <a href="@Url.RouteUrl("DetailProductByTrieuDD",new {@idd = product.id })" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="@Url.Content("~/Content/imagesProducts/"+product.image)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-left    b-delay03 " style="text-align:left; font-size:10.7pt">

                        <span>@Html.Raw(product.configuration)</span>

                    </h3>
                </div>
            </a>
            <p><a href="single.html">@product.name</a></p>
        </div>
    }
    <div class="clearfix"> </div>
</div>