﻿@using SalesWebsite.Models;
@model IEnumerable<Product>

<style>
    .text-font-size-10 {
        font-size: 10pt;
        text-align: left;
    }

    .text-font-size-5 {
        font-size: 5pt;
        text-align: left;
    }

    .text-font-size-8 {
        font-size: 8pt;
        text-align: left;
    }

    .text-font-size-8 {
        font-size: 8pt;
        text-align: left;
    }
</style>

<h2>Newest @Model.First().ProductType.name</h2>
<div class="col-md-6 men">
    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
        <img class="img-responsive" src="~/Content/imagesProducts/@Url.Content(Model.ElementAt(0).image)" alt="">
        <div class="b-wrapper">
            <h3 class="b-animate b-from-top top-in   b-delay03   text-font-size-10  ">
                <span>@Html.Raw(Model.ElementAt(0).configuration)</span>
            </h3>
        </div>
    </a>
    <h3>@Model.ElementAt(0).name</h3>


</div>
<div class="col-md-6">
    <div class="col-md1 ">
        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
            <img class="img-responsive" src="~/Content/imagesProducts/@Url.Content(Model.ElementAt(1).image)" alt="">
            <div class="b-wrapper">
                <h3 class="b-animate b-from-top top-in1   b-delay03  text-font-size-8">
                    <span>@Html.Raw(Model.ElementAt(1).configuration)</span>
                </h3>
            </div>
        </a>
        <h3>@Model.ElementAt(1).name</h3>

    </div>
    <div class="col-md2">
        <div class="col-md-6 men1">
            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="~/Content/imagesProducts/@Url.Content(Model.ElementAt(2).image)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in2   b-delay03 text-font-size-5 ">
                        <span>@Html.Raw(Model.ElementAt(2).configuration)</span>
                    </h3>
                </div>
            </a>
            <h3>@Model.ElementAt(2).name</h3>

        </div>
        <div class="col-md-6 men2">
            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="~/Content/imagesProducts/@Url.Content(Model.ElementAt(3).image)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-top top-in2   b-delay03 text-font-size-5">
                        <span>@Html.Raw(Model.ElementAt(3).configuration)</span>
                    </h3>
                </div>
            </a>
            <h3>@Model.ElementAt(3).name</h3>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"> </div>