﻿
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@*Css *@
<style>
    #Content {
        height: 1000px;
        border-color: chocolate;
    }

    .testCss {
        height: 100px;
        background-color: chocolate;
        background-image: url("../Content/images/iconTestCss.png");
        background-repeat: no-repeat;
        background-position: center right 10px;
        padding-top: 35px;
        padding-left: 10px;
        transition: 0.9s;
        cursor: not-allowed;
        border-radius: 40%;
        opacity: 0.8;
    }

        .testCss:hover {
            height: 100px;
            background-color: chocolate;
            background-image: url("../Content/images/iconTestCss.png");
            background-repeat: no-repeat;
            background-position: center left 10px;
            padding-top: 0px;
            transition: 0.9s;
            opacity: 1;
            border-radius: 0%;
            box-shadow: inset 3px 3px 10px Blue, inset -3px -3px 10px Blue;
        }

    .testCssTitle {
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-family: 'Times New Roman';
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
</style>

<div id="Content">
    <h1> Triệu DD ahihi</h1>

    <div class="row">
        <div class="col-md-2">
            <div class="testCss">
                <span class="testCssTitle"> Column 1</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="testCss">
                <span class="testCssTitle"> Column 2</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="testCss">
                <span class="testCssTitle"> Column 3</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="testCss">
                <span class="testCssTitle"> Column 4</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="testCss">
                <span class="testCssTitle"> Column 5 Triệu ĐĐ <br />siêu đẹp troai :v</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="testCss">
                <span class="testCssTitle"> Column 6</span>
            </div>
        </div>
        <!-- end div test bootstrap-->

    </div>

    <div class="row">
   
    </div>
    <!-- end div row 2-->



</div>
<!-- end div content-->
