﻿
@{
    ViewBag.Title = "DemoLoginWithHTML5";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<style>
    #login_popup {
        position: fixed;
        margin-left:25%;

       
        top: 0;
        left:0;
        width: 50%;
       
        background-color: rgba(0,0,0,.7);
        z-index: 1999;
        display: block;
    }
</style>


<div id="login_popup">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style_login_popup_html5.css" rel="stylesheet" />
    <section class="main">
        <div class="layer">

            <div class="bottom-grid">
                <div class="logo">
                    <h1> <a href="index.html"><span class="fa fa-key"></span> Key</a></h1>
                </div>
                <div class="links">
                    <ul class="links-unordered-list">
                        <li class="active">
                            <a href="#" class="">Login</a>
                        </li>
                        <li class="">
                            <a href="#" class="">About Us</a>
                        </li>
                        <li class="">
                            <a href="#" class="">Register</a>
                        </li>
                        <li class="">
                            <a href="#" class="">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-w3ls">
                <div class="text-center icon">
                    <span class="fa fa-html5"></span>
                </div>
                <div class="content-bottom">
                    <form action="#" method="post">
                        <div class="field-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="text1" id="text1" type="text" value="" placeholder="Username" required="">
                            </div>
                        </div>
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="password" id="myInput" type="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="wthree-field">
                            <button type="submit" class="btn">Get Started</button>
                        </div>
                        <ul class="list-login">
                            <li class="switch-agileits">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                    keep Logged in
                                </label>
                            </li>
                            <li>
                                <a href="#" class="text-right">forgot password?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                        <ul class="list-login-bottom">
                            <li class="">
                                <a href="#" class="">Create Account</a>
                            </li>
                            <li class="">
                                <a href="#" class="text-right">Need Help?</a>
                            </li>
                            <li class="clearfix"></li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="bottom-grid1">
                <div class="links">
                    <ul class="links-unordered-list">
                        <li class="">
                            <a href="#" class="">About Us</a>
                        </li>
                        <li class="">
                            <a href="#" class="">Privacy Policy</a>
                        </li>
                        <li class="">
                            <a href="#" class="">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>
                        © 2019 Key. All rights reserved | Design by
                        <a href="http://w3layouts.com">W3layouts</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


</div>