﻿
@{
    ViewBag.Title = "DemoLogin";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}




<style>
    #popup_login {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        z-index: 1999;
        display: none;
    }
</style>


<div id="Content">
    <input type="submit" value="Sign up" id="btnLogin" />


    <div id="popup_login">

        <!-- begin div login-->
        <link href="~/Content/css/style_loginForm.css" rel="stylesheet" />


        <div class="main">
            <div class="user">
                <img src="~/Content/images/user.jpg" alt="" id="imageExit">
                <script type="text/javascript">
                    // popup login
                    $("#btnLogin").click(function () {
                        //$("#popup_login").css({
                        //    "display": "block",
                        //    "background-color": "red",
                        //});
                        // $("#popup_login").show(2000);
                        $("#popup_login").fadeIn(1500);
                        //   $("#popup_login").slideDown(4000);
                    });

                    // hide login
                    function hideLogin() {
                        // $("#popup_login").css("display", "none");
                        //  $("#popup_login").slideUp(2000);
                        //   $("#popup_login").hide(2000);
                        $("#popup_login").fadeOut(500);
                    }
                    $("#imageExit").click(hideLogin);

                    // get account and password
                    $("#btnLogin1").click(function () {
                        var acc = $(".txtTaikhoan").val();
                        var pass = $(".txtPassword").val();

                        if (acc == "" || pass == "") {
                            alert("không được bỏ trống 1 cái gì cả !!!");
                            return;
                        }

                        alert("Tài khoản của bạn là [" + acc + "], có mật khẩu là: [" + pass + "]");
                    });
                </script>
            </div>
            <div class="login">
                <div class="inset">
                    <!-----start-main---->
                    <form>
                        <div>
                            <span><label>Username</label></span>
                            <span><input type="text" class="textbox txtTaikhoan" id="active" required=""></span>
                        </div>
                        <div>
                            <span><label>Password</label></span>
                            <span><input type="password" class="password txtPassword" required=""></span>
                        </div>
                        <div class="sign">
                            <div class="submit">
                                <input type="submit" onclick="myFunction()" value="LOGIN" id="btnLogin1">
                            </div>
                            <span class="forget-pass">
                                <a href="#">Forgot Password?</a>
                            </span>
                            <div class="clear"> </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-----//end-main---->
        </div>
        <!-----start-copyright---->
        <div class="copy-right">
            <p>Template by <a href="http://w3layouts.com">trieuddhe130295</a></p>
        </div>
        <!-- end div login-->
    </div>

</div>


