﻿@using SalesWebsite.Models;
@model List<Member>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Group</title>
</head>
<body>
    <div style="align-content:center">
        @foreach (var memberTypeID in Model.GroupBy(ahihi => ahihi.member_type_id))
        {
            <h1 style="color:chartreuse; margin-left:50px"> @memberTypeID.Key</h1>
            foreach (var member in memberTypeID)
            {
                <h3>@member.id</h3>
                <h3>    @member.account</h3>
            }
        }
    </div>
</body>
</html>
