﻿@model IEnumerable<SalesWebsite.Models.Customer>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table, td, th {
            border: 2px solid;
            border-color: darkblue;
            border-collapse: collapse
        }
    </style>
</head>
<body>
    <div>
        <center>
            @Html.RouteLink("Click here", "CustomerByTrieuDD");
            <table>
                <tr>
                    <th>ID </th>
                    <th>Name </th>
                    <th>Address </th>
                    <th>Phone </th>
                    <th>E-mail </th>
                </tr>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.id</td>
                        <td>@customer.name</td>
                        <td>@customer.address</td>
                        <td>@customer.phone</td>
                        <td>@customer.email</td>
                    </tr>
                }
            </table>
        </center>
    </div>
</body>
</html>
