﻿@model SalesWebsite.Models.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchByID1</title>
</head>
<body>
    <div> 
        @Model.id<br />
        @Model.name<br />
    </div>
</body>
</html>
