﻿@model SalesWebsite.Models.Customer
@{
    ViewBag.Title = "SearchByID";
}

<h2 style="text-align:center">
    @using (@Html.BeginForm())
    {
        <h2>
            Nhập id để tìm
        </h2>
        @Html.TextBox("txtID");
        <input type="submit" />
    }
    @if (Model != null)
    {
        @Model.id<br />
        @Model.name <br />
        @Model.email<br />
    }


</h2>

