﻿
@{
    ViewBag.Title = "DemoAjax";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}



@Ajax.ActionLink(
"load parital view",
"MethodForAjaxActionLinkReturnPartialViewByTrieuDD_InServer",
new AjaxOptions
{
   HttpMethod = "GET",
   LoadingElementId = "divLoading",
   UpdateTargetId = "idOfHtmlTag",
   InsertionMode = InsertionMode.Replace
}
)
<div id="divLoading" style="display:none; align-self: center">
    <img src="~/Content/images/loading.gif" />
</div>




<div class="container">
    <div class="content-top">
        <div id="idOfHtmlTag" style="height:150px">
            Click link "load parital view" to see new product
        </div>
    </div>
</div>



<br />
<br />
<br />
<br />






















@* Load ajax dung razor tag @Ajax.ActionLink *@
@Ajax.ActionLink("Trieu DD with love", "MethodForAjaxActionLinkByTrieuDD_InServer", new AjaxOptions
{
    HttpMethod = "POST",
    LoadingElementId = "idOfHtmlTagHidden",
    UpdateTargetId = "idOfHtmlTag",
    InsertionMode = InsertionMode.InsertBefore
})

@* Load ajax dung begin form*@
@using (Ajax.BeginForm("MethodForAjaxBeginFormByTrieuDD_InServer", new AjaxOptions
{
    HttpMethod = "POST",
    LoadingElementId = "idOfHtmlTagHidden",
    UpdateTargetId = "idOfHtmlTag",
    InsertionMode = InsertionMode.Replace
}))
{
    <input type="text" name="txtTrieuDD" />
    <input type="submit" value="Mãi bên triệu DĐ bạn nhé !!" />
}
<br />
<br />
<br />
<br />


<div style="display:none" id="idOfHtmlTagHidden">
    <img src="~/Content/images/p1.jpg" />
</div>

<br />
<div id="idOfHtmlTag" style="height:150px">
    Đây là những thứ ajax làm:
</div>

<br />
<input type="text" id="txt1" />
<input type="text" id="txt2" />
<input id="idOfHtmlTagButton" type="submit" value="Submit jquery ahihi a nham ajax" />


<script>
    $('#idOfHtmlTagButton').click(function () {
        $('#idOfHtmlTagHidden').show();
        var x = $('#txt1').val();
        var y = $('#txt2').val();
        $.ajax({
            type: 'GET',
            data:
            {
                a: x,
                b: y
            },
            url: 'MethodForAjaxJqueryByTrieuDD_InServer',
            success: function (responseFromServer) {
                $('#idOfHtmlTagHidden').hide();
                $('#idOfHtmlTag').html(responseFromServer);
            }
        })
    })
</script>


