﻿@using SalesWebsite.Models;
@model IEnumerable<Product>

<div class="grid-in">
    @foreach (var product in Model)
    {

        <div class="col-md-4 grid-top">
            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="@Url.Content("~/Content/imagesProducts/"+product.image)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-left    b-delay03 ">
                        <span>
                            @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:#,##0} VNĐ", product.price)
                            <br />
                            @product.description
                        </span>

                    </h3>
                </div>
            </a>
            <p><a href="single.html">@product.name</a></p>
        </div>
    }
</div>

