﻿@using SalesWebsite.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{
    IEnumerable<Product> listPhone = ViewBag.ListPhone as IEnumerable<Product>;
    IEnumerable<Product> listLaptop = (IEnumerable<Product>)ViewBag.ListLaptop;
    IEnumerable<Product> listTablet = ViewBag.ListTablet;
}

<div class="container">
    <div class="content-top">
        @Html.Partial("~/Views/Product/ProductStyle1Parital.cshtml", listTablet)
 
        @Html.Partial("~/Views/Product/ProductStyle1Parital.cshtml", listPhone)
    </div>

    <div class="content-top-bottom">
        @Html.Partial("~/Views/Product/ProudctStyle2Partial.cshtml", listLaptop)
    </div>

</div>

