﻿@using SalesWebsite.Models;
@model IEnumerable<Product>

<div class=" h_menu4">
    <ul class="memenu skyblue">
        <li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
        <li class="active grid" style="display: inline;"><a class="color8" href="@Url.Action("Index","Home")">Home</a></li>

        @foreach (var groupItem in Model.GroupBy(trieudd => trieudd.ProductType))
        {
            if (groupItem.Key != null)
            {
                <li style="display: inline;">
                    <a class="color1" href="#">@groupItem.Key.name </a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        @foreach (var groupItem1 in groupItem.GroupBy(trieudd => trieudd.Producer))
                                        {
                                            if (groupItem1.Key != null)
                                            {
                                                <li><a href="@Url.Action("ProductsByTypeAndProvider","Product",new {  @typeId = groupItem.Key.id, @producerId = groupItem1.Key.id })">@groupItem1.Key.name</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
        @*<li style="display: inline;">
                <a class="color1" href="#">Men</a>
                <div class="mepanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <ul>
                                    <li><a href="products.html">Accessories</a></li>
                                    <li><a href="products.html">Bags</a></li>
                                    <li><a href="products.html">Caps &amp; Hats</a></li>
                                    <li><a href="products.html">Hoodies &amp; Sweatshirts</a></li>
                                    <li><a href="products.html">Jackets &amp; Coats</a></li>
                                    <li><a href="products.html">Jeans</a></li>
                                    <li><a href="products.html">Jewellery</a></li>
                                    <li><a href="products.html">Jumpers &amp; Cardigans</a></li>
                                    <li><a href="products.html">Leather Jackets</a></li>
                                    <li><a href="products.html">Long Sleeve T-Shirts</a></li>
                                    <li><a href="products.html">Loungewear</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <ul>
                                    <li><a href="products.html">Shirts</a></li>
                                    <li><a href="products.html">Shoes, Boots &amp; Trainers</a></li>
                                    <li><a href="products.html">Shorts</a></li>
                                    <li><a href="products.html">Suits &amp; Blazers</a></li>
                                    <li><a href="products.html">Sunglasses</a></li>
                                    <li><a href="products.html">Sweatpants</a></li>
                                    <li><a href="products.html">Swimwear</a></li>
                                    <li><a href="products.html">Trousers &amp; Chinos</a></li>
                                    <li><a href="products.html">T-Shirts</a></li>
                                    <li><a href="products.html">Underwear &amp; Socks</a></li>
                                    <li><a href="products.html">Vests</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>Popular Brands</h4>
                                <ul>
                                    <li><a href="products.html">Levis</a></li>
                                    <li><a href="products.html">Persol</a></li>
                                    <li><a href="products.html">Nike</a></li>
                                    <li><a href="products.html">Edwin</a></li>
                                    <li><a href="products.html">New Balance</a></li>
                                    <li><a href="products.html">Jack &amp; Jones</a></li>
                                    <li><a href="products.html">Paul Smith</a></li>
                                    <li><a href="products.html">Ray-Ban</a></li>
                                    <li><a href="products.html">Wood Wood</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>*@



        <li class="grid" style="display: inline;">
            <a class="color2" href="#">	Brands</a>
            <div class="mepanel">
                <div class="row">
                    @foreach (var groupItem in Model.GroupBy(trieudd => trieudd.ProductType))
                    {
                        <div class="col1">
                            @if (groupItem.Key != null)
                            {
                                <div class="h_nav">
                                    <ul>

                                        <h1>@groupItem.Key.name</h1>

                                        @foreach (var groupItem1 in groupItem.GroupBy(trieudd => trieudd.Producer))
                                        {
                                            if (groupItem1.Key != null)
                                            {
                                                <li><a href="@Url.Action("ProductsByTypeAndProvider", "Product", new { @typeId = groupItem.Key.id, @producerId = groupItem1.Key.id })">@groupItem1.Key.name</a></li>
                                            }


                                        }
                                    </ul>

                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </li>
        <li style="display: inline;"><a class="color4" href="blog.html">About us</a></li>
        <li style="display: inline;"><a class="color6" href="contact.html">Conact</a></li>
    </ul>
</div>