﻿@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc
@using SalesWebsite.Models
@model Member

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Layout/DetailProductLayout.cshtml";
}



<div class=" register">
    <h1>Regist to join our universe</h1>
    @using (Ajax.BeginForm("Register", "Home", new AjaxOptions()
    {
        InsertionMode = InsertionMode.InsertBefore,
        UpdateTargetId = "txtOutput",
    }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-5 register-top-grid">


            <h3>Personal infomation</h3>
            <div>
                @Html.LabelFor(model => model.fullname)
                @Html.ValidationMessageFor(Model => Model.fullname)
                @Html.TextBoxFor(Model => Model.fullname)
            </div>
            <div>
                @Html.LabelFor(model => model.address)
                @Html.ValidationMessageFor(Model => Model.address)
                @Html.TextBoxFor(Model => Model.address)
            </div>
            <div>
                @Html.LabelFor(model => model.email)
                @Html.ValidationMessageFor(Model => Model.email)
                @Html.TextBoxFor(Model => Model.email)
            </div>
            <div>
                @Html.LabelFor(model => model.phone)
                @Html.ValidationMessageFor(Model => Model.phone)
                @Html.TextBoxFor(Model => Model.phone)
            </div>
        </div>

        <div class="col-md-4 register-bottom-grid register-top-grid">
            <h3>Login information</h3>
            <div>
                @Html.LabelFor(model => model.account)
                @Html.ValidationMessageFor(Model => Model.account)
                @Html.TextBoxFor(Model => Model.account)
            </div>
            <div>
                @Html.LabelFor(model => model.password)
                @Html.ValidationMessageFor(Model => Model.password)
                @Html.PasswordFor(Model => Model.password, new { @id = "password", @placeholder = "Enter your password !!!" })
                @*<input id="password" name="txtPassword" type="password" placeholder="Enter your password !!!" required="" />*@
            </div>
            <div>
                @Html.LabelFor(model => model.password)
                <label id="txtPasswordConfirm"></label>
                <input id="password_confirm" type="password" placeholder="Confirm Password" oninput="checkRePass(this)" />
                <script type="text/javascript">
                    function checkRePass(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password Must be Matching.')
                        } else {
                            input.setCustomValidity('')
                        }
                    }
                </script>
            </div>

            <div>
                @Html.LabelFor(model => model.question)
                @Html.DropDownList("question")
            </div>
            <div>
                @Html.LabelFor(model => model.answear)
                @Html.ValidationMessageFor(model => model.answear)
                @Html.TextBoxFor(Model => Model.answear)
            </div>

            @Html.MathCaptcha()
            <a class="news-letter" href="#">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
            </a>
            <br />
            <div style="color:chocolate" id="txtOutput">@ViewBag.Msg</div>
            <br />
            <input type="submit" value="submit">
        </div>


        <div class="clearfix"> </div>
    }
</div>
