﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Metro Panel Flat Bootstarp Resposive Website Template| Home :: w3layouts</title>
    <link href="~/Content/adminLayout/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/adminLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="~/Content/adminLayout/js/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/adminLayout/css/font-awesome.css">
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Metro Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.calender-left').fadeOut('slow', function (c) {
                    $('.calender-left').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close1').on('click', function (c) {
                $('.calender-right').fadeOut('slow', function (c) {
                    $('.calender-right').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close2').on('click', function (c) {
                $('.graph').fadeOut('slow', function (c) {
                    $('.graph').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close3').on('click', function (c) {
                $('.site-report').fadeOut('slow', function (c) {
                    $('.site-report').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close4').on('click', function (c) {
                $('.total-sale').fadeOut('slow', function (c) {
                    $('.total-sale').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close5').on('click', function (c) {
                $('.to-do').fadeOut('slow', function (c) {
                    $('.to-do').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close7').on('click', function (c) {
                $('.user-trends').fadeOut('slow', function (c) {
                    $('.user-trends').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close6').on('click', function (c) {
                $('.world-map').fadeOut('slow', function (c) {
                    $('.world-map').remove();
                });
            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48014931-1', 'codyhouse.co');
        ga('send', 'pageview');

        jQuery(document).ready(function ($) {
            $('.close-carbon-adv').on('click', function () {
                $('#carbonads-container').hide();
            });
        });
    </script>
    <script src="~/Content/adminLayout/js/zingchart.min.js"></script>
    <script src="~/Content/adminLayout/js/zingchart.jquery.js"></script>
    <script src="~/Content/adminLayout/js/jquery.easydropdown.js"></script>
    <script src="~/Content/adminLayout/js/jquery.nicescroll.js"></script>

    <link href="~/Content/adminLayout/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/adminLayout/js/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/Content/adminLayout/js/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Content/adminLayout/js/jquery.vmap.sampledata.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: '#333333',
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#666666',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#C8EEFF', '#006491'],
                normalizeFunction: 'polynomial'
            });
        });
    </script>
    <!----Calender -------->
    <link rel="stylesheet" href="~/Content/adminLayout/css/clndr.css" type="text/css" />
    <script src="~/Content/adminLayout/js/underscore-min.js"></script>
    <script src="~/Content/adminLayout/js/moment-2.2.1.js"></script>
    <script src="~/Content/adminLayout/js/clndr.js"></script>
    <script src="~/Content/adminLayout/js/site.js"></script>
    <!----End Calender -------->
    <script src="~/Content/adminLayout/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab,#horizontalTab1,#horizontalTab2').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <link href="~/Content/adminLayout/css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Content/adminLayout/js/main.js"></script> <!-- Resource jQuery -->
    <!-- chart -->
    <script src="~/Content/adminLayout/js/Chart1.js"></script>
    <!-- //chart -->



    <link href="~/Content/fontAwesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
    <div class="total-content">
        <div class="col-md-3 side-bar">
            <div class="logo text-center">
                <a href="#"><img src="images/logo.png" alt="" /></a>
            </div>
            <div class="navigation">
                <h3>Featured</h3>
                <ul>
                    <li>
                        <a href="#" style="font-size:30px">
                            <i class="fa fa-dropbox"></i>
                        </a>
                    </li>
                    <li><a href="#">Charts</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="art"></i></a></li>
                    <li><a href="#">Articals</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="user"></i></a></li>
                    <li><a href="#">Users</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="fat"></i></a></li>
                    <li><a href="#">Favorites</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="speed"></i></a></li>
                    <li><a href="#">Speed</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="setting"></i></a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="#"><i class="dash"></i></a></li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="mail"></i></a></li>
                    <li><a href="#">Emails</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="cal"></i></a></li>
                    <li><a href="#">Calendar</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="page"></i></a></li>
                    <li><a href="#">Pages</a></li>
                </ul>
            </div>
            <div class="navigation">
                <h3>All Others</h3>
                <ul>
                    <li><a href="#"><i class="rev"></i></a></li>
                    <li><a href="#">Revenue</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="pic"></i></a></li>
                    <li><a href="#">Pictures</a></li>
                </ul>
                <ul>
                    <li><a href="#"><i class="faq"></i></a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 content">

            @*
                <div class="home-strip">
                    <div class="view">
                        <ul>
                            <li><a href="index.html"><i class="refresh"></i></a></li>
                            <!--<li class="messages"><a href="#"><i class="msgs"></i><span class="red">3</span></a></li>-->
                            <li>
                                <div id="dd1" class="wrapper-dropdown-1">
                                    <i class="msgs"></i><span class="red">3</span>
                                    <ul class="dropdown">
                                        <div class="notification_header">
                                            <h3>You have 3 new messages</h3>
                                        </div>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="images/avatar2.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clear"> </div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#">
                                                <div class="user_img"><img src="images/avatar.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clear"> </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="images/avatar1.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clear"> </div>
                                            </a>
                                        </li>
                                        <div class="notification_bottom">
                                            <h3><a href="#">See all messages</a></h3>
                                        </div>
                                    </ul>
                                </div>
                                <!-----start-script---->
                                <script type="text/javascript">
                                function DropDown(el) {
                                    this.dd1 = el;
                                    this.initEvents();
                                }
                                DropDown.prototype = {
                                    initEvents : function() {
                                        var obj = this;

                                        obj.dd.on('click', function(event){
                                            $(this).toggleClass('active');
                                            event.stopPropagation();
                                        });
                                    }
                                }
                                $(function() {

                                    var dd1 = new DropDown( $('#dd1') );

                                    $(document).click(function() {
                                        // all dropdowns
                                        $('.wrapper-dropdown-1').removeClass('active');
                                    });

                                });
                                </script>
                            </li>
                            <!--<li class="notifications"><a href="#"><i class="bell"></i><span class="blue">7</span></a></li>-->
                            <li>
                                <div id="dd3" class="wrapper-dropdown-3">
                                    <i class="bell"></i><span class="blue">5</span>
                                    <ul class="dropdown">
                                        <div class="notification_header">
                                            <h3>You have 5 notifications</h3>
                                        </div>
                                        <li>
                                            <a href="#">
                                                <div class="user_icon1"><i class="nur"></i></div>
                                                <div class="notification_desc">
                                                    <p>New user registered</p>
                                                    <p><span>2 minutes ago</span></p>
                                                </div>
                                                <div class="clear"> </div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#">
                                                <div class="user_icon2"><i class="cancel"></i></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>6 minutes ago</span></p>
                                                </div>
                                                <div class="clear"> </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_icon3"><i class="lock"></i></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>10 minutes ago</span></p>
                                                </div>
                                                <div class="clear"> </div>
                                            </a>
                                        </li>
                                        <div class="notification_bottom">
                                            <h3><a href="#">See all notifications</a></h3>
                                        </div>
                                    </ul>
                                </div>
                                <!-----start-script---->
                                <script type="text/javascript">
                                function DropDown(el) {
                                    this.dd3 = el;
                                    this.initEvents();
                                }
                                DropDown.prototype = {
                                    initEvents : function() {
                                        var obj = this;

                                        obj.dd.on('click', function(event){
                                            $(this).toggleClass('active');
                                            event.stopPropagation();
                                        });
                                    }
                                }
                                $(function() {

                                    var dd3 = new DropDown( $('#dd3') );

                                    $(document).click(function() {
                                        // all dropdowns
                                        $('.wrapper-dropdown-3').removeClass('active');
                                    });

                                });
                                </script>
                            </li>
                        </ul>
                    </div>
                    <div class="search">
                        <div class="search2">
                            <form>
                                <input type="submit" value="">
                                <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" />
                            </form>
                        </div>
                    </div>
                    <div class="member">
                        <p><a href="#"><i class="men"></i></a><a href="#">Username</a></p>
                        <div id="dd" class="wrapper-dropdown-2" tabindex="1">
                            <span><img src="images/settings.png" /></span>
                            <ul class="dropdown">

                                <li><a href="#">View Profile </a></li>
                                <li><a href="#">Lists</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Activity log</a></li>
                                <li><a href="#">Report a problem</a></li>
                                <li><a href="#">Log out</a></li>
                            </ul>
                        </div>
                        <!-----end-wrapper-dropdown-2---->
                        <!-----start-script---->
                        <script type="text/javascript">
                                function DropDown(el) {
                                    this.dd = el;
                                    this.initEvents();
                                }
                                DropDown.prototype = {
                                    initEvents : function() {
                                        var obj = this;

                                        obj.dd.on('click', function(event){
                                            $(this).toggleClass('active');
                                            event.stopPropagation();
                                        });
                                    }
                                }
                                $(function() {

                                    var dd = new DropDown( $('#dd') );

                                    $(document).click(function() {
                                        // all dropdowns
                                        $('.wrapper-dropdown-2').removeClass('active');
                                    });

                                });
                        </script>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            *@
            <div class="clearfix"></div>
            <p class="home"><a href="#">Home</a> > <strong> Dashboard</strong></p>
            <div class="list_of_members">
                <div class="sales">
                    <div class="icon">
                        <i class="dollar"></i>
                    </div>
                    <div class="icon-text">
                        <h3>15896</h3>
                        <p>Sales</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="new-users">
                    <div class="icon">
                        <i class="user1"></i>
                    </div>
                    <div class="icon-text">
                        <h3>5356</h3>
                        <p>New Users</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="orders">
                    <div class="icon">
                        <i class="order"></i>
                    </div>
                    <div class="icon-text">
                        <h3>26856</h3>
                        <p>New Orders</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="visitors">
                    <div class="icon">
                        <i class="visit"></i>
                    </div>
                    <div class="icon-text">
                        <h3>85k</h3>
                        <p>Visits</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            @RenderBody()
            <div class="total-sales">
                <div class="user-trends">
                    <div class="alert-close7"> </div>

                    <canvas id="bar" height="340" width="780"></canvas>
                    <script>

                        var barChartData = {
                            labels: ["January", "February", "March", "April", "May", "June", "July"],
                            datasets: [
                                {
                                    fillColor: "rgba(255, 137, 167, 0.78)",
                                    strokeColor: "rgba(220,220,220,1)",
                                    data: [65, 59, 90, 81, 56, 55, 40]
                                },
                                {
                                    fillColor: "rgba(140, 145, 255, 0.69)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    data: [28, 48, 40, 19, 96, 27, 100]
                                }
                            ]

                        }

                        var myLine = new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

                    </script>
                </div>
                <div class="to-do">
                    <div class="alert-close5"> </div>
                    <h3>To-Do</h3>
                    <div class="checkbox-form">
                        <div class="check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Do the dishes.</label>
                        </div>
                        <div class="check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Hit the gym.</label>
                        </div>
                        <div class="check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Walk the dog.</label>
                        </div>
                        <div class="check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Get wireframing!</label>
                        </div>
                        <div class="check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Talk to the cat.</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="total-world">
                <div class="world-map">
                    <div class="alert-close6"> </div>
                    <h3>Sales around world</h3>
                    <p><span class="color1"></span>40%<span class="color2"></span>12%<span class="color3"></span>11%<span class="color4"></span>10%<span class="color5"></span>18%</p>
                    <div class="clearfix"></div>
                    <div id="vmap" style="width: 600px; height: 400px;"></div>
                </div>
                <div class="site-report">
                    <div class="alert-close3"> </div>
                    <h3>Site Report</h3>
                    <div class="skills-top">
                        <h5>Sales</h5>
                        <h4>45%</h4>
                        <div class="clearfix"></div>
                        <div class="skills">
                            <div class="skill" style="width:45%"></div>
                        </div>
                    </div>
                    <div class="skills-top">
                        <h5>Revenue</h5>
                        <h4>68%</h4>
                        <div class="clearfix"></div>
                        <div class="skills">
                            <div class="skill1" style="width:68%"></div>
                        </div>
                    </div>
                    <div class="skills-top">
                        <h5>New Orders</h5>
                        <h4>89%</h4>
                        <div class="clearfix"></div>
                        <div class="skills">
                            <div class="skill2" style="width:89%"></div>
                        </div>
                    </div>
                    <p>It is a long established fact that a re-ader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="calenders">
                <div class="calender-left">
                    <div class="alert-close"> </div>
                    <h3>Contact form</h3>
                    <form>
                        <input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
                        <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                        <textarea value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                        <input type="submit" value="SEND" />
                    </form>
                </div>
                <div class="calender-right">
                    <div class="alert-close1"> </div>
                    <h3>Calendar</h3>
                    <div class="column_right_grid calender">
                        <div class="cal1">
                            <div class="clndr">
                                <div class="clndr-controls">
                                    <div class="clndr-control-button"><p class="clndr-previous-button">previous</p></div>
                                    <div class="month">March 2014</div><div class="clndr-control-button rightalign"><p class="clndr-next-button">next</p></div>
                                </div>
                                <table class="clndr-table" border="0" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr class="header-days">
                                            <td class="header-day">Sun</td>
                                            <td class="header-day">Mon</td>
                                            <td class="header-day">Tu</td>
                                            <td class="header-day">We</td>
                                            <td class="header-day">T</td>
                                            <td class="header-day">Fr</td>
                                            <td class="header-day">Su</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="day past adjacent-month last-month calendar-day-2014-02-23">
                                                <div class="day-contents">23</div>
                                            </td>
                                            <td class="day past adjacent-month last-month calendar-day-2014-02-24"><div class="day-contents">24</div></td>
                                            <td class="day past adjacent-month last-month calendar-day-2014-02-25"><div class="day-contents">25</div></td>
                                            <td class="day past adjacent-month last-month calendar-day-2014-02-26"><div class="day-contents">26</div></td>
                                            <td class="day past adjacent-month last-month calendar-day-2014-02-27"><div class="day-contents">27</div></td>
                                            <td class="day past adjacent-month last-month calendar-day-2014-02-28"><div class="day-contents">28</div></td>
                                            <td class="day past calendar-day-2014-03-01"><div class="day-contents">1</div></td>
                                        </tr>
                                        <tr><td class="day past calendar-day-2014-03-02"><div class="day-contents">2</div></td><td class="day past calendar-day-2014-03-03"><div class="day-contents">3</div></td><td class="day past calendar-day-2014-03-04"><div class="day-contents">4</div></td><td class="day past calendar-day-2014-03-05"><div class="day-contents">5</div></td><td class="day past calendar-day-2014-03-06"><div class="day-contents">6</div></td><td class="day past calendar-day-2014-03-07"><div class="day-contents">7</div></td><td class="day past calendar-day-2014-03-08"><div class="day-contents">8</div></td></tr>
                                        <tr><td class="day past calendar-day-2014-03-09"><div class="day-contents">9</div></td><td class="day past event calendar-day-2014-03-10"><div class="day-contents">10</div></td><td class="day past event calendar-day-2014-03-11"><div class="day-contents">11</div></td><td class="day past event calendar-day-2014-03-12"><div class="day-contents">12</div></td><td class="day past event calendar-day-2014-03-13"><div class="day-contents">13</div></td><td class="day past event calendar-day-2014-03-14"><div class="day-contents">14</div></td><td class="day past calendar-day-2014-03-15"><div class="day-contents">15</div></td></tr>
                                        <tr><td class="day past calendar-day-2014-03-16"><div class="day-contents">16</div></td><td class="day past calendar-day-2014-03-17"><div class="day-contents">17</div></td><td class="day past calendar-day-2014-03-18"><div class="day-contents">18</div></td><td class="day past calendar-day-2014-03-19"><div class="day-contents">19</div></td><td class="day past calendar-day-2014-03-20"><div class="day-contents">20</div></td><td class="day past event calendar-day-2014-03-21"><div class="day-contents">21</div></td><td class="day past event calendar-day-2014-03-22"><div class="day-contents">22</div></td></tr>
                                        <tr><td class="day past event calendar-day-2014-03-23"><div class="day-contents">23</div></td><td class="day past calendar-day-2014-03-24"><div class="day-contents">24</div></td><td class="day today calendar-day-2014-03-25"><div class="day-contents">25</div></td><td class="day calendar-day-2014-03-26"><div class="day-contents">26</div></td><td class="day calendar-day-2014-03-27"><div class="day-contents">27</div></td><td class="day calendar-day-2014-03-28"><div class="day-contents">28</div></td><td class="day calendar-day-2014-03-29"><div class="day-contents">29</div></td></tr>
                                        <tr><td class="day calendar-day-2014-03-30"><div class="day-contents">30</div></td><td class="day calendar-day-2014-03-31"><div class="day-contents">31</div></td><td class="day adjacent-month next-month calendar-day-2014-04-01"><div class="day-contents">1</div></td><td class="day adjacent-month next-month calendar-day-2014-04-02"><div class="day-contents">2</div></td><td class="day adjacent-month next-month calendar-day-2014-04-03"><div class="day-contents">3</div></td><td class="day adjacent-month next-month calendar-day-2014-04-04"><div class="day-contents">4</div></td><td class="day adjacent-month next-month calendar-day-2014-04-05"><div class="day-contents">5</div></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="cd-tabs">
                <nav>
                    <ul class="cd-tabs-navigation">
                        <li><a data-content="fashion" href="#0">Latest Comments <i> </i></a></li>
                        <li><a data-content="cinema" href="#0" class="selected fashion1">Latest Articles<i> </i></a></li>
                        <li><a data-content="television" href="#0" class="fashion2">Newest Users<i> </i></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </nav>
                <ul class="cd-tabs-content">
                    <li data-content="fashion">
                        <div class="top-men">
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#">Fashion News</a> / by <a href="#">Jolia</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp0.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#">Technoloy News </a>/ by <a href="#">Deo</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp01.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on<a href="#"> Fashion News</a> / by <a href="#">Jolia</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    <li data-content="cinema" class="selected">
                        <div class="top-men">
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp0.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#"> Fashion News </a>/ by <a href="#">Jolia</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp01.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#">Technoloy News</a> / by <a href="#">Deo</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#"> Fashion News </a>/ by <a href="#">Jolia</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    <li data-content="television">
                        <div class="top-men">
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp01.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#">Fashion News</a> / by <a href="#">Jolia</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#">Technoloy News</a> / by <a href="#">Deo</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="men">
                                <div class="grid-men">
                                    <a href="#"><img src="images/pp0.jpg" class="img-responsive" alt=""> </a>
                                </div>
                                <div class="men-grid">
                                    <h6>on <a href="#">Fashion News </a>/ by <a href="#">Jolia</a></h6>
                                    <span>12-11-2014</span>
                                    <p class="text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.      </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer">
        <div class="copyright text-center">
            <p>&copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
        </div>
    </div>
</body>
</html>