﻿<!DOCTYPE html>

<html>
<head>
    <title>New Store A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css"><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Content/js/simpleCart.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body>
    <!--header-->
    <div class="header">
        @Html.Partial("~/Views/Layout/HeaderTopPartial.cshtml")
        @*<div class="header-top">
                <div class="container">
                    <div class="search">
                        <form>
                            <input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                            <input type="submit" value="Go">
                        </form>
                    </div>
                    <div class="header-left">
                        <ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>

                        </ul>
                        <div class="cart box_1">
                            <a href="checkout.html">
                                <h3>
                                    <div class="total">
                                        <span class="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> items)
                                    </div>
                                    <img src="~/Content/images/cart.png" alt="">
                                </h3>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>*@
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="index.html"><img src="~/Content/images/logo.png" alt=""></a>
                </div>


                @Html.Action("MenuPartial", "Home");
                @*<div class=" h_menu4">
                        <ul class="memenu skyblue">
                            <li class="showhide" style="display: none;"><span class="title">MENU</span><span class="icon1"></span><span class="icon2"></span></li>
                            <li class="active grid" style="display: inline;"><a class="color8" href="index.html">Home</a></li>
                            <li style="display: inline;">
                                <a class="color1" href="#">Men</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1">
                                            <div class="h_nav">
                                                <ul>
                                                    <li><a href="products.html">Accessories</a></li>
                                                    <li><a href="products.html">Bags</a></li>
                                                    <li><a href="products.html">Caps &amp; Hats</a></li>
                                                    <li><a href="products.html">Hoodies &amp; Sweatshirts</a></li>
                                                    <li><a href="products.html">Jackets &amp; Coats</a></li>
                                                    <li><a href="products.html">Jeans</a></li>
                                                    <li><a href="products.html">Jewellery</a></li>
                                                    <li><a href="products.html">Jumpers &amp; Cardigans</a></li>
                                                    <li><a href="products.html">Leather Jackets</a></li>
                                                    <li><a href="products.html">Long Sleeve T-Shirts</a></li>
                                                    <li><a href="products.html">Loungewear</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col1">
                                            <div class="h_nav">
                                                <ul>
                                                    <li><a href="products.html">Shirts</a></li>
                                                    <li><a href="products.html">Shoes, Boots &amp; Trainers</a></li>
                                                    <li><a href="products.html">Shorts</a></li>
                                                    <li><a href="products.html">Suits &amp; Blazers</a></li>
                                                    <li><a href="products.html">Sunglasses</a></li>
                                                    <li><a href="products.html">Sweatpants</a></li>
                                                    <li><a href="products.html">Swimwear</a></li>
                                                    <li><a href="products.html">Trousers &amp; Chinos</a></li>
                                                    <li><a href="products.html">T-Shirts</a></li>
                                                    <li><a href="products.html">Underwear &amp; Socks</a></li>
                                                    <li><a href="products.html">Vests</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col1">
                                            <div class="h_nav">
                                                <h4>Popular Brands</h4>
                                                <ul>
                                                    <li><a href="products.html">Levis</a></li>
                                                    <li><a href="products.html">Persol</a></li>
                                                    <li><a href="products.html">Nike</a></li>
                                                    <li><a href="products.html">Edwin</a></li>
                                                    <li><a href="products.html">New Balance</a></li>
                                                    <li><a href="products.html">Jack &amp; Jones</a></li>
                                                    <li><a href="products.html">Paul Smith</a></li>
                                                    <li><a href="products.html">Ray-Ban</a></li>
                                                    <li><a href="products.html">Wood Wood</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid" style="display: inline;">
                                <a class="color2" href="#">	Women</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1">
                                            <div class="h_nav">
                                                <ul>
                                                    <li><a href="products.html">Accessories</a></li>
                                                    <li><a href="products.html">Bags</a></li>
                                                    <li><a href="products.html">Caps &amp; Hats</a></li>
                                                    <li><a href="products.html">Hoodies &amp; Sweatshirts</a></li>
                                                    <li><a href="products.html">Jackets &amp; Coats</a></li>
                                                    <li><a href="products.html">Jeans</a></li>
                                                    <li><a href="products.html">Jewellery</a></li>
                                                    <li><a href="products.html">Jumpers &amp; Cardigans</a></li>
                                                    <li><a href="products.html">Leather Jackets</a></li>
                                                    <li><a href="products.html">Long Sleeve T-Shirts</a></li>
                                                    <li><a href="products.html">Loungewear</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col1">
                                            <div class="h_nav">
                                                <ul>
                                                    <li><a href="products.html">Shirts</a></li>
                                                    <li><a href="products.html">Shoes, Boots &amp; Trainers</a></li>
                                                    <li><a href="products.html">Shorts</a></li>
                                                    <li><a href="products.html">Suits &amp; Blazers</a></li>
                                                    <li><a href="products.html">Sunglasses</a></li>
                                                    <li><a href="products.html">Sweatpants</a></li>
                                                    <li><a href="products.html">Swimwear</a></li>
                                                    <li><a href="products.html">Trousers &amp; Chinos</a></li>
                                                    <li><a href="products.html">T-Shirts</a></li>
                                                    <li><a href="products.html">Underwear &amp; Socks</a></li>
                                                    <li><a href="products.html">Vests</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col1">
                                            <div class="h_nav">
                                                <h4>Popular Brands</h4>
                                                <ul>
                                                    <li><a href="products.html">Levis</a></li>
                                                    <li><a href="products.html">Persol</a></li>
                                                    <li><a href="products.html">Nike</a></li>
                                                    <li><a href="products.html">Edwin</a></li>
                                                    <li><a href="products.html">New Balance</a></li>
                                                    <li><a href="products.html">Jack &amp; Jones</a></li>
                                                    <li><a href="products.html">Paul Smith</a></li>
                                                    <li><a href="products.html">Ray-Ban</a></li>
                                                    <li><a href="products.html">Wood Wood</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="display: inline;"><a class="color4" href="blog.html">Blog</a></li>
                            <li style="display: inline;"><a class="color6" href="contact.html">Conact</a></li>
                        </ul>
                    </div>*@

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>

    <div class="banner">
        <div class="container">
            <script src="~/Content/js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                    });
                });
            </script>
            <div id="top" class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider">
                    <li id="callbacks1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">

                        <div class="banner-text">
                            <h3>Lorem Ipsum is not simply dummy  </h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
                            <a href="single.html">Learn More</a>
                        </div>

                    </li>
                    <li id="callbacks1_s1" class="callbacks1_on" style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 500ms ease-in-out 0s;">

                        <div class="banner-text">
                            <h3>There are many variations </h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
                            <a href="single.html">Learn More</a>

                        </div>

                    </li>
                    <li id="callbacks1_s2" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out 0s;">
                        <div class="banner-text">
                            <h3>Sed ut perspiciatis unde omnis</h3>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor .</p>
                            <a href="single.html">Learn More</a>

                        </div>

                    </li>
                </ul><a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1"><a href="#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2 callbacks_here"><a href="#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3"><a href="#" class="callbacks1_s3">3</a></li></ul>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="content">

        @RenderBody();
        <!--
        <div class="container">
               <div class="content-top">
                   <h1>NEW RELEASED</h1>
                   <div class="grid-in">
                       <div class="col-md-4 grid-top">
                           <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                               <img class="img-responsive" src="images/pi.jpg" alt="">
                               <div class="b-wrapper">
                                   <h3 class="b-animate b-from-left    b-delay03 ">
                                       <span>T-Shirt</span>
                                   </h3>
                               </div>
                           </a>


                           <p><a href="single.html">Contrary to popular</a></p>
                       </div>
                       <div class="col-md-4 grid-top">
                           <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                               <img class="img-responsive" src="images/pi1.jpg" alt="">
                               <div class="b-wrapper">
                                   <h3 class="b-animate b-from-left    b-delay03 ">
                                       <span>Shoe</span>
                                   </h3>
                               </div>
                           </a>
                           <p><a href="single.html">classical Latin</a></p>
                       </div>
                       <div class="col-md-4 grid-top">
                           <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                               <img class="img-responsive" src="images/pi2.jpg" alt="">
                               <div class="b-wrapper">
                                   <h3 class="b-animate b-from-left    b-delay03 ">
                                       <span>Bag</span>
                                   </h3>
                               </div>
                           </a>
                           <p><a href="single.html">undoubtable</a></p>
                       </div>
                       <div class="clearfix"> </div>
                   </div>
                   <div class="grid-in">
                       <div class="col-md-4 grid-top">
                           <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                               <img class="img-responsive" src="images/pi3.jpg" alt="">
                               <div class="b-wrapper">
                                   <h3 class="b-animate b-from-left    b-delay03 ">
                                       <span>Shirt</span>
                                   </h3>
                               </div>
                           </a>
                           <p><a href="single.html">suffered alteration</a></p>
                       </div>
                       <div class="col-md-4 grid-top">
                           <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                               <img class="img-responsive" src="images/pi4.jpg" alt="">
                               <div class="b-wrapper">
                                   <h3 class="b-animate b-from-left    b-delay03 ">
                                       <span>Bag</span>
                                   </h3>
                               </div>
                           </a>
                           <p><a href="single.html">Content here</a></p>
                       </div>
                       <div class="col-md-4 grid-top">
                           <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                               <img class="img-responsive" src="images/pi5.jpg" alt="">
                               <div class="b-wrapper">
                                   <h3 class="b-animate b-from-left    b-delay03 ">
                                       <span>Shoe</span>
                                   </h3>
                               </div>
                           </a>
                           <p><a href="single.html">readable content</a></p>
                       </div>
                       <div class="clearfix"> </div>
                   </div>
               </div>


            <div class="content-top-bottom">
                <h2>Featured Collections</h2>
                <div class="col-md-6 men">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="images/t1.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in   b-delay03 ">
                                <span>Lorem</span>
                            </h3>
                        </div>
                    </a>


                </div>
                <div class="col-md-6">
                    <div class="col-md1 ">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/t2.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                    <span>Lorem</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md2">
                        <div class="col-md-6 men1">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="images/t3.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                        <span>Lorem</span>
                                    </h3>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-6 men2">
                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="images/t4.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                        <span>Lorem</span>
                                    </h3>
                                </div>
                            </a>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

            -->
        <!--
        <div class="content-bottom">
            <ul>
                <li><a href="#"><img class="img-responsive" src="images/lo.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo1.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo2.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo3.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo4.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="images/lo5.png" alt=""></a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        -->
    </div>



    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>MORE INFO</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">How to order</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="contact.html">Location</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Membership</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>CONTACT US</h4>

                    <p>
                        Contrary to popular belief
                    </p>
                    <p>The standard chunk</p>
                    <p>office:  +12 34 995 0792</p>
                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>Newsletter</h4>
                    <p>
                        Sign Up to get all news update
                        and promo
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2015 New store All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>


</body>
</html>
