﻿@using SalesWebsite.Models
@model IEnumerable<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 5);
}

@webGrid.GetHtml(
    tableStyle: "divTable",
    headerStyle: "divHeader",
    footerStyle: "divFooter",
    rowStyle: "divRow",
    alternatingRowStyle: "divAltRow",
    columns: webGrid.Columns(
        webGrid.Column("id", "Item id"),
        webGrid.Column("name", "Item name"),
        webGrid.Column("description", "ITem description", format: trieudd => @Html.Raw(trieudd.description)),
        webGrid.Column("image", "Item image", format: trieudd =>
        @Html.Raw("<img src=\"../Content/imagesProducts/" + trieudd.image + "\" />"))
    )
)
<style>
    .divTable {
        width: 100%;
    }

    .divTable, th, td {
        border: 1px solid chocolate;
    }

    .divHeader {
        background-color: black;
    }

        .divHeader > th > a {
            color: white;
        }

    .divFooter {
        font-weight: bold;
    }

    .divRow {
        background-color: blueviolet;
        color: white;
    }

    .divAltRow {
        background-color: white;
        color: black;
    }
</style>



